.main-wrapper{
  background-color: aquamarine;
  height: 100vh;
}

#grid-container{
  aspect-ratio: 1;
  width: 700px;
  background-color: brown;
}

.square{
  width: 70px;
  height: 70px;
  background-color: rgb(119, 194, 15);
  color: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.clicked{
  background-color: lightblue;
}